/* Testing */
html[data-theme="dark"] {
  --ifm-background-color: #0d1117;
  --ifm-background-surface-color: #24292e;
}

html[data-theme="light"] {
  --ifm-background-surface-color: #f6f8fa;
  --ifm-background-color: #fff;
  --ifm-navbar-background-color: var(--ifm-background-surface-color);
  --site-color-favorite-background: #f6f8fa;
  --site-color-tooltip-background: #353738;
  --site-color-feedback-background: #fff;
  --site-color-tooltip: #fff;
}
